[submodule "detectron2"]
	path = detectron2
	url = https://github.com/facebookresearch/detectron2.git
[submodule "pybullet-URDF-models"]
	path = pybullet-URDF-models
	url = https://github.com/ChenEating716/pybullet-URDF-models.git

[submodule "joint_affordance_and_pose_with_dpm"]
	path = joint_affordance_and_pose_with_dpm
	url = https://github.com/mfarhadhussain/joint_affordance_and_pose_with_dpm.git
[submodule "affordance_and_pose_with_dpm"]
	path = affordance_and_pose_with_dpm
	url = https://github.com/mfarhadhussain/affordance_and_pose_with_dpm.git

[submodule "Language-Conditioned-Affordance-Pose-Detection-in-3D-Point-Clouds"]
	path = Language-Conditioned-Affordance-Pose-Detection-in-3D-Point-Clouds
	url = https://github.com/Fsoft-AIC/Language-Conditioned-Affordance-Pose-Detection-in-3D-Point-Clouds.git
