[submodule "detectron2"]
	path = detectron2
	url = https://github.com/facebookresearch/detectron2.git
[submodule "pybullet-URDF-models"]
	path = pybullet-URDF-models
	url = https://github.com/ChenEating716/pybullet-URDF-models.git
[submodule "dl_model/dl_model/Language-Conditioned-Affordance-Pose-Detection-in-3D-Point-Clouds"]
	path = dl_model/dl_model/Language-Conditioned-Affordance-Pose-Detection-in-3D-Point-Clouds
	url = https://github.com/Fsoft-AIC/Language-Conditioned-Affordance-Pose-Detection-in-3D-Point-Clouds.git
